<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Customer Page</title>
<style>
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<body>
	
	<div class="container" align="center">
		<h1>Customer List As Follows</h1>
		<hr>
		<br>
		<a th:href="@{/addNew}" class="btn btn-primary btn-sm mb-3">Add Customer</a>
		<table style="width: 80%; border: 1;" class="table">
			<thead>
				<th>ID</th>
				<th>NAME</th>
				<th>AMOUNT</th>
				<th>TYPE</th>
				<th>ACTION</th>
			</thead>
			<tr th:each="cust:${list_of_customers}">
				<td th:text="${cust.id}"></td>
				<td th:text="${cust.name}"></td>
				<td th:text="${cust.amount}"></td>
				<td th:text="${cust.type}"></td>
				<td>
					<a th:href="@{/updateCustomer/{id}(id=${cust.id})}" class="btn btn-primary btn-sm mb-3">
						Update
					</a>
					
					<a th:href="@{/deleteCustomer/{id}(id=${cust.id})}" class="btn btn-danger btn-sm mb-3">
						Delete
					</a>
					
					
				</td>
			</tr>

		</table>
	</div>


</body>

</html>